<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <h2>준교팀</h2>
        <ul class="actions">
            <li><span class="icon fa-envelope"></span> <a href="#">wlwnsry1@naver.com</a></li>
            <li><span class="icon fa-map-marker"></span> 서울 강남구 강남대로78길 8 한국빌딩 4F 06242</li>
        </ul>
<!--        <div class="">-->
<!--            Powered by: <a href="https://templated.co/">TEMPLATED</a>.-->
<!--        </div>-->
    </div>
</footer>


