<!-- Footer -->
<footer id="footer">
    <div class="inner">
        <h2>준교팀</h2>
        <ul class="actions">
            <li><span class="icon fa-phone"></span> <a href="#">(010) 024-1014</a></li>
            <li><span class="icon fa-envelope"></span> <a href="#">information@untitled.tld</a></li>
            <li><span class="icon fa-map-marker"></span> 123 Somewhere Road, Nashville, TN 00000</li>
        </ul>
        <div class="">
            Powered by: <a href="https://templated.co/">TEMPLATED</a>.
        </div>
    </div>
</footer>


<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script src="/assets/js/chatscript.js" defer></script>
<script src="/assets/js/navermap.js"> </script>
</body>
</html>