<!DOCTYPE HTML>
<!--
	Intensify by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>Have a good meal</title>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/chatstyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts Link For Icons -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link rel="stylesheet" href="/assets/css/kakaomap.css" />
</head>

<body>

<!-- Header -->
<header id="header">
    <nav class="left"><a href="#menu">
        <span>Menu</span></a>
        <span>날씨 표시</span>
    </nav>

    <a href="/home" class="logo">식사를 합시다</a>
    {{^loggedInUser}}
    <nav class="right">
        <a href="/loginpage" class="button alt" id="nav-login-btn">로그인</a>
    </nav>
    {{/loggedInUser}}
    {{#loggedInUser}}
    <nav class="right">
        <a href="/logout" class="button alt" id="nav-logout-btn">로그아웃</a>
    </nav>
    {{/loggedInUser}}
</header>

<!-- Menu -->
<nav id="menu" class="">
    <ul class="links">
        <li><a href="/home">홈페이지</a></li>
        <li><a href="/myInfo/edit">내정보</a></li>
        <li><a href="#one">채팅</a></li>
        <li><a href="#three">게임</a></li>
        <li><a href="elements.html">나의 음식 취향</a></li>
    </ul>

    {{^loggedInUser}}
    <ul class="actions vertical">
        <li><a href="/loginpage" class="button fit" id="side-login-btn">로그인</a></li>
    </ul>
    {{/loggedInUser}}

    {{#loggedInUser}}
    <ul class="actions vertical">
        <li><a href="/login/logout" class="button fit" id="side-logout-btn">로그아웃</a></li>
    </ul>
    {{/loggedInUser}}

    <!--개인 프로필 추가하기 -->
    <!--로그인 했을 때만 띄어야 함-->
<!--    날씨 데이터 표시-->

    <!--        유저 정보 표시-->
    <!--<div class="flex-item nav-under">-->
{{#loggedInUser}}
    <ul class="links-under nav-under">
        <li><a href="/edit">{{nickname}}</a></li>
        <li><a href="/addresslist">{{address}}</a></li>
        <li class="button-container">
            <button type="button" href="/edit" style="padding-left: 20px; padding-right: 20px;">내 정보</button>
            <button type="button" href="/addresslist">주소목록</button>
        </li>
    </ul>
{{/loggedInUser}}

<!--  비로그인 시 띄워줄 사이드바 언더  -->
<!--{{^loggedInUser}}-->
<!--    <ul class="links-under nav-under">-->
<!--        <li><a href="내정보">닉네임</a></li>-->
<!--        <li class="button-container">-->
<!--            <button href="주소목록">내 정보</button>-->
<!--            <button href="주소목록">주소목록</button>-->
<!--        </li>-->
<!--    </ul>-->
<!--{{/loggedInUser}}-->
    <!--</div>-->
</nav>
