<!DOCTYPE HTML>
<html lang="ko">
<head>
    <title>Have a good meal</title>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/chatstyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts Link For Icons -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0"/>
    <link rel="stylesheet" href="/assets/css/kakaomap.css"/>
</head>

<!-- 네이버 지도 호출 스크립트-->
<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=dl1k0ms7ds"></script>

<body>

<!-- Header -->
<header id="header">
<!--    사이드바 버튼-->
    <nav class="left"><a href="#menu">
        <span>Menu</span></a>
    </nav>

<!--    날씨 정보 칸-->
    <nav class="image">
        <div class="weather-info" id="weatherInfo">
        <span><img class="weather-image" id="weather-info-image"
                   src="/images/weather_{{weatherImageName}}.png"
                   alt="{{weatherImageName}}"></span>
        </div>
    </nav>

    <nav class="left">
    <div class="weather-details" id="weatherDetails">
        <p><img class="weather-image" id="weather-details-image"
            src="/images/weather_{{weatherImageName}}.png"
            alt="{{weatherImageName}}"
            style="width: -webkit-fill-available;"></p>
    {{#weather}}
        <div id="weather-details-div">
            <p> 현재 {{secondName}}의 날씨</p>
            <p> 기온 : {{t1h}}도</p>
            <p> 습도 : {{reh}}%</p>
            <p> 강수량 : {{rn1}}</p>
        </div>
    </div>
    </nav>
    {{/weather}}

<!--    페이지 명-->
    <a href="/home" class="logo">식사를 합시다</a>

<!--    로그인 버튼-->
    {{^loggedInUser}}
        <nav class="right">
            <a href="/loginpage" class="button alt" id="nav-login-btn">로그인</a>
        </nav>
    {{/loggedInUser}}
    {{#loggedInUser}}
        <nav class="right">
            <a href="/logout" class="button alt" id="nav-logout-btn">로그아웃</a>
        </nav>
    {{/loggedInUser}}
</header>

<!-- Menu -->
<nav id="menu" class="">
    <ul class="links">
        <li><a href="/home">홈페이지</a></li>
        <li><a href="#one">채팅</a></li>
        <li><a href="#three">게임</a></li>
        <li><a href="/survey/foods">나의 음식 취향</a></li>
    </ul>

    {{^loggedInUser}}
        <ul class="actions vertical">
            <li><a href="/loginpage" class="button fit" id="side-login-btn">로그인</a></li>
        </ul>
    {{/loggedInUser}}

    {{#loggedInUser}}
        <ul class="actions vertical">
            <li><a href="/logout" class="button fit" id="side-logout-btn">로그아웃</a></li>
        </ul>
    {{/loggedInUser}}

    <!--개인 프로필 추가하기 -->
    <!--로그인 했을 때만 띄어야 함-->
    <!--    날씨 데이터 표시-->

    <!--        유저 정보 표시-->
    <!--<div class="flex-item nav-under">-->
    {{#loggedInUser}}
        <ul class="links-under nav-under">
            <li style="border-bottom : 1px solid; padding-bottom: 10px;">{{nickname}}님 반갑습니다!</li>
            <li>
                <div class="dropdown-myAddresses">
                    <div>
                        나의 주소
                    </div>
                    <div class="dropdown">
                        {{#selectAddress}}
                            <button class="dropbtn" onclick="dropdown()">
                                <span class="dropbtn_content">{{address_name}}</span>
                                <input id="addressHidden" type="hidden" value="{{address}}">
                            </button>
                        {{/selectAddress}}
                        {{^selectAddress}}
                            <button class="dropbtn" onclick="dropdown()">
                                <span class="dropbtn_content">주소 선택</span>
                            </button>
                        {{/selectAddress}}
                        <div class="dropdown-content">
                            {{#addresses}}
                                <div class="myAddress" onclick="selectAddress('{{address_name}}','{{id}}')">
                                    {{address_name}}<br>({{address}})
                                </div>
                            {{/addresses}}
                        </div>
                    </div>
                </div>
            </li>
            <li class="button-container">
                <a type="button" href="/myInfo/edit">내 정보</a>
                <a type="button" href="/myInfo/addressList">주소목록</a>
            </li>
        </ul>
    {{/loggedInUser}}

    <!--  비로그인 시 띄워줄 사이드바 언더  -->
        <!--{{^loggedInUser}}-->
    <!--    <ul class="links-under nav-under">-->
    <!--        <li><a href="내정보">닉네임</a></li>-->
    <!--        <li class="button-container">-->
    <!--            <button href="주소목록">내 정보</button>-->
    <!--            <button href="주소목록">주소목록</button>-->
    <!--        </li>-->
    <!--    </ul>-->
        <!--{{/loggedInUser}}-->
    <!--</div>-->
</nav>
