<!DOCTYPE HTML>
<html lang="ko">
<head>
    <title>Have a good meal</title>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script>
        const loggedInUser = {{# loggedInUser}} true {{/loggedInUser}}{{^ loggedInUser}} false {{/loggedInUser}};
    </script>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/chatstyle.css">
    <link rel="stylesheet" href="/assets/css/navermap.css"/>
    <!--    <link rel="stylesheet" href="/assets/css/chatstyle.css">-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts Link For Icons -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0"/>
</head>

<!-- 네이버 지도 호출 스크립트-->
<script type="text/javascript" src="https://oapi.map.naver.com/openapi/v3/maps.js?ncpClientId=dl1k0ms7ds&submodules=geocoder"></script>
<script type="text/javascript" src="/assets/js/MarkerClustering.js"></script>

<body>

<!-- Header -->
<header id="header">
    <!--    사이드바 버튼-->
    <nav class="left" id="menu-nav"><a href="#menu">
        <span>Menu</span></a>
    </nav>

    <!--    날씨 정보 칸-->
    <nav class="image">
        <div class="weather-info" id="weatherInfo">
        <span><img class="weather-image" id="weather-info-image"
                   src="/images/weather/weather_{{weatherImageName}}.png"
                   alt="{{weatherImageName}}"></span>
        </div>
    </nav>

<nav class="left">
<div class="weather-details" id="weatherDetails">
    <p><img class="weather-image" id="weather-details-image"
            src="/images/weather/weather_{{weatherImageName}}.png"
            alt="{{weatherImageName}}"
            style="width:50%;"></p>
    {{#weather}}
        <div id="weather-details-div">
            <p> 현재 {{secondName}}의 날씨</p>
            <p> 기온 : {{t1h}}도</p>
            <p> 습도 : {{reh}}%</p>
            <p> 강수량 : {{rn1}}</p>
        </div>
    </div>
    </nav>
    {{/weather}}

    <!--    페이지 명-->
    <a href="/main" class="logo"> 타이틀 </a>

    <!--    로그인 버튼-->
    {{^loggedInUser}}
        <nav class="right">
            <a href="/loginpage" class="button alt" id="nav-login-btn">로그인</a>
        </nav>
    {{/loggedInUser}}
    {{#loggedInUser}}
        <nav class="right">
            <a href="/logout" class="button alt" id="nav-logout-btn">로그아웃</a>
        </nav>
    {{/loggedInUser}}
</header>

