/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

#select-chatbot{
    background: #f6755e;
    text-align: center;
    color: white;
    padding: 1em 1em 0.5em 1em;
    top: 0;
    position: sticky;
    .flex{
        padding:0.5em;
        border-bottom: solid;
        h2{
            color:white;
            margin:0;
        }
        span{
            cursor:pointer;
        }
    }
    .btn-container button{
        background:white;
        color:black;
        width:49%
    }
    .btn-container button:hover{
        background:antiquewhite;
    }
}

.btn-container {
    max-height: 100px; /* 최대 높이 설정 */
    overflow: hidden; /* 내용이 넘치면 숨김 */
    transition: max-height 0.3s ease, opacity 0.3s ease; /* 전환 효과 추가 */
    p{
        padding: 10px 0px;
        font-size: larger;
    }
}

.btn-container.hidden {
    max-height: 0; /* 숨길 때 최대 높이를 0으로 설정 */
    opacity: 0; /* 숨길 때 투명도 0 */
    visibility: hidden; /* 숨길 때 보이지 않도록 설정 */
}

.btn-container.visible {
    visibility: visible; /* 보일 때 보이도록 설정 */
    opacity: 1; /* 보일 때 투명도 1 */
}

#chatbot-container{
 position : relative;
 width:100%;
 height: auto;
}

.chatbot-toggler {
  position: fixed;
  bottom: 30px;
  right: 35px;
  outline: none;
  border: none;
  height: 50px;
  width: 50px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: #724ae8;
  transition: all 0.2s ease;
}


.chatbot-toggler span {
  color: #fff;
  position: absolute;
}

.chatbot-toggler span:last-child,
body.show-chatbot .chatbot-toggler span:first-child {
  opacity: 0;
}

body.show-chatbot .chatbot-toggler span:last-child {
  opacity: 1;
}

.chatbot {
  position: relative;
/*  right: 35px;
  bottom: 90px; */
  width: 100%;
  background: #fff;
  border-radius: 15px;
  overflow: hidden;
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
  transform-origin: bottom right;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
  transition: all 0.1s ease;
}

body.show-chatbot .chatbot {
  opacity: 1;
  pointer-events: auto;
  transform: scale(1);
}

.chatbot header {
  padding: 16px 0;
  position: relative;
  text-align: center;
  color: #fff;
  background: #724ae8;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.chatbot header span {
  position: absolute;
  right: 15px;
  top: 50%;
  display: none;
  cursor: pointer;
  transform: translateY(-50%);
}

header h2 {
  font-size: 1.4rem;
}

.chatbot .chatbox {
  overflow-y: auto;
  height: 40em;
  padding: 0;
  margin: 0;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar {
  width: 6px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 25px;
}

.chatbot :where(.chatbox, textarea)::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 25px;
}

.chatbox .chat {
  display: flex;
  list-style: none;
  margin: 1em 0em;
}

.chatbox .outgoing {
  justify-content: flex-end;
  padding-right: 1em;
}

.chatbox .incoming span {
  width: 32px;
  height: 32px;
  color: #fff;
  cursor: default;
  text-align: center;
  line-height: 32px;
  background: #8e6d58;
  border-radius: 4px;
  margin: 17px 10px;
}

.chatbox .chat p {
  white-space: pre-wrap;
  padding: 12px 16px;
  border-radius: 10px 10px 0 10px;
  max-width: 75%;
  color: #fff;
  font-size: 0.95rem;
  background: #63574f;
}

.chatbox .incoming p {
  border-radius: 10px 10px 10px 0;
}

.chatbox .chat p.error {
  color: #721c24;
  background: #f8d7da;
}

.chatbox .incoming p {
  color: #000;
  background: #f2f2f2;
}

.chatbot .chat-input {
  display: flex;
  gap: 5px;
  position: static;
  bottom: 0;
  width: 100%;
  background: #fff;
  padding: 3px 20px;
  border-top: 1px solid #ddd;
}

.chat-input textarea {
  height: 55px;
  width: 100%;
  border: none;
  outline: none;
  resize: none;
  max-height: 180px;
  padding: 15px;
  font-size: 0.95rem;
  border-radius: 15px;
  background: #f2f2f2;
}

.chat-input span {
  align-self: flex-end;
  color: blue;
  cursor: pointer;
  height: 55px;
  display: flex;
  align-items: center;
  visibility: hidden;
  font-size: 2rem;
}

.chat-input textarea:valid~span {
  visibility: visible;
}

@media (max-width: 490px) {
  .chatbot-toggler {
    right: 20px;
    bottom: 20px;
  }

  .chatbot {
    right: 0;
    bottom: 0;
    height: 100%;
    border-radius: 0;
    width: 100%;
  }

  .chatbot .chatbox {
    height: 90%;
    padding: 25px 15px 100px;
  }

  .chatbot .chat-input {
    padding: 5px 15px;
  }

  .chatbot header span {
    display: block;
  }
}

  .restaurant-info.hidden{
    max-height : 0;
    opacity: 0;
    visibility: hidden;
    transition: max-height 2s ease, opacity 2s ease;
}

  .restaurant-info.visible{
    max-height : max-content;
    visibility:visible;
    opacity:1;
    transition: max-height 2s ease, opacity 2s ease;
}