{{>layouts/header}}

<style>
    .flex {
        display: flex; /* 플렉스 컨테이너 */
        gap: 20px; /* 아이템 간격 */
        flex-wrap: wrap; /* 아이템 줄바꿈 */
        justify-content: center; /* 중앙 정렬 */
    }

</style>


<form method="post" action="/survey/submit">

    <section class="wrapper style1 special">
        <div class="inner flex flex-3">
            {{#allfoods}}
                <div class="food-item">
                    <img src="https://via.placeholder.com/200" alt="음식 이미지 1">
                    <h3 class="nameTag">{{name}}</h3>
                    <!--            <input type="range" min="0" max="10" value="5" class="range-slider">-->
                    <input type="range" min="0" max="10" class="range-slider"
                           value={{preference}}
                           name="{{food_id}}">

                </div>
            {{/allfoods}}
        </div>
    </section>


{{>layouts/footer}}