{{>layouts/header}}
{{>layouts/nav}}


<form method="post" action="/survey/submit">

    <section id="Western" class="wrapper style1 special">
        <div class="inner flex-allsurvey flex-3 foodContainer">
            {{#양식}}
                <div class="food-item-allsurvey">
                    <img src="/images/foods/{{food_id}}.png" alt="{{name}}" loading="lazy">
                    <h3 class="nameTag">{{name}}</h3>
                    <!--            <input type="range" min="0" max="10" value="5" class="range-slider">-->
                    <input type="range" min="0" max="10" class="range-slider"
                           value={{preference}}
                           name="{{food_id}}">

                </div>
            {{/양식}}
        </div>
        <button class="scroll-button" type="button" onclick="scrollLeftCustom('Western')"><</button>
        <button class="scroll-button" type="button" onclick="scrollRightCustom('Western')">></button>
    </section>


    <section id="Cafe" class="wrapper special">
        <div class="inner flex-allsurvey flex-3 foodContainer">
            {{#카페_디저트}}
                <div class="food-item-allsurvey">
                    <img src="/images/foods/{{food_id}}.png" alt="{{name}}" loading="lazy">
                    <h3 class="nameTag">{{name}}</h3>
                    <!--            <input type="range" min="0" max="10" value="5" class="range-slider">-->
                    <input type="range" min="0" max="10" class="range-slider"
                           value={{preference}}
                           name="{{food_id}}">
                </div>
            {{/카페_디저트}}
        </div>
        <button class="scroll-button" type="button" onclick="scrollLeftCustom('Cafe')"><</button>
        <button class="scroll-button" type="button" onclick="scrollRightCustom('Cafe')">></button>
    </section>


    <section id="Korea" class="wrapper style1 special">
        <div class="inner flex-allsurvey flex-3 foodContainer">
            {{#한식}}
                <div class="food-item-allsurvey">
                    <img src="/images/foods/{{food_id}}.png" alt="{{name}}" loading="lazy">
                    <h3 class="nameTag">{{name}}</h3>
                    <!--            <input type="range" min="0" max="10" value="5" class="range-slider">-->
                    <input type="range" min="0" max="10" class="range-slider"
                           value={{preference}}
                           name="{{food_id}}">
                </div>
            {{/한식}}
        </div>
        <button class="scroll-button" type="button" onclick="scrollLeftCustom('Korea')"><</button>
        <button class="scroll-button" type="button" onclick="scrollRightCustom('Korea')">></button>
    </section>

    <section id="Meat" class="wrapper special">
        <div class="inner flex-allsurvey flex-3 foodContainer">
            {{#고기_구이}}
                <div class="food-item-allsurvey">
                    <img src="/images/foods/{{food_id}}.png" alt="{{name}}" loading="lazy">
                    <h3 class="nameTag">{{name}}</h3>
                    <!--            <input type="range" min="0" max="10" value="5" class="range-slider">-->
                    <input type="range" min="0" max="10" class="range-slider"
                           value={{preference}}
                           name="{{food_id}}">
                </div>
            {{/고기_구이}}
        </div>
        <button class="scroll-button" type="button" onclick="scrollLeftCustom('Meat')"><</button>
        <button class="scroll-button" type="button" onclick="scrollRightCustom('Meat')">></button>
    </section>


    <section id="Worlds" class="wrapper style1 special">
        <div class="inner flex-allsurvey flex-3 foodContainer">
            {{#일식_중식_세계음식}}
                <div class="food-item-allsurvey">
                    <img src="/images/foods/{{food_id}}.png" alt="{{name}}" loading="lazy">
                    <h3 class="nameTag">{{name}}</h3>
                    <!--            <input type="range" min="0" max="10" value="5" class="range-slider">-->
                    <input type="range" min="0" max="10" class="range-slider"
                           value={{preference}}
                           name="{{food_id}}">
                </div>
            {{/일식_중식_세계음식}}
        </div>
        <button class="scroll-button" type="button" onclick="scrollLeftCustom('Worlds')"><</button>
        <button class="scroll-button" type="button" onclick="scrollRightCustom('Worlds')">></button>
    </section>

    <section id="Night" class="wrapper special">
        <div class="inner flex-allsurvey flex-3 foodContainer">
            {{#나이트라이프}}
                <div class="food-item-allsurvey">
                    <img src="/images/foods/{{food_id}}.png" alt="{{name}}" loading="lazy">
                    <h3 class="nameTag">{{name}}</h3>
                    <!--            <input type="range" min="0" max="10" value="5" class="range-slider">-->
                    <input type="range" min="0" max="10" class="range-slider"
                           value={{preference}}
                           name="{{food_id}}">
                </div>
            {{/나이트라이프}}
        </div>
        <button class="scroll-button" type="button" onclick="scrollLeftCustom('Night')"><</button>
        <button class="scroll-button" type="button" onclick="scrollRightCustom('Night')">></button>
    </section>


    <section id="" class="wrapper special">
        <div class="inner flex-allsurvey flex-3"
             style="    align-items: center;
                        justify-content: center">
            <button class="submit-button" type="submit">저장</button>
        </div>
    </section>
</form>

{{>layouts/scripts}}