<!DOCTYPE HTML>
<html lang="ko">
<head>
    <title>식사를 합시다</title>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/chatstyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Google Fonts Link For Icons -->
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,1,0" />

</head>
<style>
    .inner {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .inner form {
        text-align: center; /* 폼 내부 텍스트 가운데 정렬 */
    }
    .form_container{
        width:60%
    }
    .12u$ {
        max-width:300%; /* 최대 너비 설정 (원하는 경우 조정 가능) */
    }
</style>
<body>
<!-- Header -->
<header id="header">
    <nav class="left"><a href="#menu">
        <span>Menu</span></a>
    </nav>
    <a href="index.html" class="logo">식사를 합시다</a>
    <nav class="right"><a href="#" class="button alt">로그인</a>
    </nav>
</header>
<!-- Menu -->
<nav id="menu">
    <ul class="links">
        <li><a href="index.html">홈페이지</a></li>
        <li><a href="generic.html">내정보</a></li>
        <li><a href="elements.html">채팅</a></li>
        <li><a href="elements.html">게임</a></li>
    </ul>
    <ul class="actions vertical">
        <li><a href="#" class="button fit">로그인</a></li>
    </ul>

    <!-- 여기에 개인 프로필 추가하기 -->

</nav>

<section id="one" class="wrapper">
    <div class="inner flex flex-3">
        <header class="align-center"><h1>로그인</h1>
        </header>

        <div class="form_container">
            <form method="post" action="#">
                <div class="12u$" style="margin-bottom:20px">
                    <input type="text" name="userId" id="userId" placeholder="아이디입력">
                </div>
                <div class="12u$" style="margin-bottom:20px">
                    <input type="text" name="password" id="password" placeholder="비밀번호입력">
                </div>

                <div class="12u$">
                    <ul class="actions fit">
                        <li><input type="submit" class="button fit" value="로그인"></li>
                        <li><a href="/users/register" class="button alt fit">회원가입</a></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</section>

{{>layouts/footer}}