{{>layouts/header}}

<section id="one" class="wrapper">
    <div class="inner flex flex-3" style="display: flex;
        flex-direction: column;
        align-items: center;">
        <header class="align-center"><h1>로그인</h1>
        </header>

        <div class="form_container" style="width:60%">
            <form method="post" action="/login" style="text-align: center;">
                <div class="12u$" style="margin-bottom:20px; max-width:300%;">
                    <input type="text" name="userId" id="userId" placeholder="아이디입력">
                </div>
                <div class="12u$" style="margin-bottom:20px; max-width:300%;">
                    <input type="password" name="password" id="password" placeholder="비밀번호입력">
                </div>

                <div class="12u$" style="max-width:300%;">
                    <ul class="actions fit">
                        <li><input type="submit" class="button fit" value="로그인"></li>
                        <li><a href="/register" class="button alt fit">회원가입</a></li>
                    </ul>
                </div>
            </form>
        </div>
    </div>
</section>


<!-- Scripts -->
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/skel.min.js"></script>
<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>
<script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script src="/assets/js/register.js"></script>

</body>
</html>