{{>layouts/header}}

<style>
    .flex {
        display: flex; /* 플렉스 컨테이너 */
        gap: 20px; /* 아이템 간격 */
        flex-wrap: wrap; /* 아이템 줄바꿈 */
        justify-content: center; /* 중앙 정렬 */
    }

</style>

<form method="post" action="/survey/submit">

    <section id="Western" class="wrapper style1 special">
        <div class="inner flex flex-3">
            {{#양식}}
                <div class="food-item">
                    <img src="/images/foods/{{food_id}}.png" alt="{{name}}">
                    <h3 class="nameTag">{{name}}</h3>
                    <!--            <input type="range" min="0" max="10" value="5" class="range-slider">-->
                    <input type="range" min="0" max="10" class="range-slider"
                           value={{preference}}
                           name="{{food_id}}">

                </div>
            {{/양식}}
        </div>
    </section>


    <section id="Cafe" class="wrapper">
        <div class="inner flex flex-3">
            {{#카페_디저트}}
                <div class="food-item">
                    <img src="/images/foods/{{food_id}}.png" alt="{{name}}">
                    <h3 class="nameTag">{{name}}</h3>
                    <!--            <input type="range" min="0" max="10" value="5" class="range-slider">-->
                    <input type="range" min="0" max="10" class="range-slider"
                           value={{preference}}
                           name="{{food_id}}">
                </div>
            {{/카페_디저트}}
        </div>
    </section>


    <section id="Korea" class="wrapper style1 special">
        <div class="inner flex flex-3">
            {{#한식}}
                <div class="food-item">
                    <img src="/images/foods/{{food_id}}.png" alt="{{name}}">
                    <h3 class="nameTag">{{name}}</h3>
                    <!--            <input type="range" min="0" max="10" value="5" class="range-slider">-->
                    <input type="range" min="0" max="10" class="range-slider"
                           value={{preference}}
                           name="{{food_id}}">
                </div>
            {{/한식}}
        </div>
    </section>

    <section id="Meat" class="wrapper">
        <div class="inner flex flex-3">
            {{#고기_구이}}
                <div class="food-item">
                    <img src="/images/foods/{{food_id}}.png" alt="{{name}}">
                    <h3 class="nameTag">{{name}}</h3>
                    <!--            <input type="range" min="0" max="10" value="5" class="range-slider">-->
                    <input type="range" min="0" max="10" class="range-slider"
                           value={{preference}}
                           name="{{food_id}}">
                </div>
            {{/고기_구이}}
        </div>
    </section>


    <section id="Worlds" class="wrapper style1 special">
        <div class="inner flex flex-3">
            {{#일식_중식_세계음식}}
                <div class="food-item">
                    <img src="/images/foods/{{food_id}}.png" alt="{{name}}">
                    <h3 class="nameTag">{{name}}</h3>
                    <!--            <input type="range" min="0" max="10" value="5" class="range-slider">-->
                    <input type="range" min="0" max="10" class="range-slider"
                           value={{preference}}
                           name="{{food_id}}">
                </div>
            {{/일식_중식_세계음식}}
        </div>
    </section>

    <section id="Night" class="wrapper">
        <div class="inner flex flex-3">
            {{#나이트라이프}}
                <div class="food-item">
                    <img src="/images/foods/{{food_id}}.png" alt="{{name}}">
                    <h3 class="nameTag">{{name}}</h3>
                    <!--            <input type="range" min="0" max="10" value="5" class="range-slider">-->
                    <input type="range" min="0" max="10" class="range-slider"
                           value={{preference}}
                           name="{{food_id}}">
                </div>
            {{/나이트라이프}}
        </div>
    </section>


    <section id="Night" class="wrapper">
        <div class="inner flex flex-3">
            <button class="submit-button" type="submit">저장</button>
        </div>
    </section>
</form>

{{>layouts/footer}}