{{>layouts/header}}

<style>
    input[type="checkbox"] + label, input[type="radio"] + label {
      text-decoration: none;
      color: #ffffff;
      cursor: pointer;
      display: inline-block;
      font-size: 1em;
      font-weight: 300;
      padding-left: 2.4em;
      padding-right: 0.75em;
      position: relative;
  }
</style>

{{>layouts/nav}}

<form method="post" action="/survey/submit">

    <section id="Western" class="wrapper style1 special">
        <div class="inner flex-randomsurvey flex-3">
            {{#양식}}
                <div class="food-item">
                    <img src="/images/foods/{{food_id}}.png" alt="{{name}}">
                    <h3 class="nameTag">{{name}}</h3>
                    <!--            <input type="range" min="0" max="10" value="5" class="range-slider">-->
                    <input type="range" min="0" max="10" class="range-slider"
                           value={{preference}}
                           name="{{food_id}}">

                </div>
            {{/양식}}
        </div>
    </section>


    <section id="Cafe" class="wrapper">
        <div class="inner flex-randomsurvey flex-3">
            {{#카페_디저트}}
                <div class="food-item">
                    <img src="/images/foods/{{food_id}}.png" alt="{{name}}">
                    <h3 class="nameTag">{{name}}</h3>
                    <!--            <input type="range" min="0" max="10" value="5" class="range-slider">-->
                    <input type="range" min="0" max="10" class="range-slider"
                           value={{preference}}
                           name="{{food_id}}">
                </div>
            {{/카페_디저트}}
        </div>
    </section>


    <section id="Korea" class="wrapper style1 special">
        <div class="inner flex-randomsurvey flex-3">
            {{#한식}}
                <div class="food-item">
                    <img src="/images/foods/{{food_id}}.png" alt="{{name}}">
                    <h3 class="nameTag">{{name}}</h3>
                    <!--            <input type="range" min="0" max="10" value="5" class="range-slider">-->
                    <input type="range" min="0" max="10" class="range-slider"
                           value={{preference}}
                           name="{{food_id}}">
                </div>
            {{/한식}}
        </div>
    </section>

    <section id="Meat" class="wrapper">
        <div class="inner flex-randomsurvey flex-3">
            {{#고기_구이}}
                <div class="food-item">
                    <img src="/images/foods/{{food_id}}.png" alt="{{name}}">
                    <h3 class="nameTag">{{name}}</h3>
                    <!--            <input type="range" min="0" max="10" value="5" class="range-slider">-->
                    <input type="range" min="0" max="10" class="range-slider"
                           value={{preference}}
                           name="{{food_id}}">
                </div>
            {{/고기_구이}}
        </div>
    </section>


    <section id="Worlds" class="wrapper style1 special">
        <div class="inner flex-randomsurvey flex-3">
            {{#일식_중식_세계음식}}
                <div class="food-item">
                    <img src="/images/foods/{{food_id}}.png" alt="{{name}}">
                    <h3 class="nameTag">{{name}}</h3>
                    <!--            <input type="range" min="0" max="10" value="5" class="range-slider">-->
                    <input type="range" min="0" max="10" class="range-slider"
                           value={{preference}}
                           name="{{food_id}}">
                </div>
            {{/일식_중식_세계음식}}
        </div>
    </section>

    <section id="Night" class="wrapper">
        <div class="inner flex-randomsurvey flex-3">
            {{#나이트라이프}}
                <div class="food-item">
                    <img src="/images/foods/{{food_id}}.png" alt="{{name}}">
                    <h3 class="nameTag">{{name}}</h3>
                    <!--            <input type="range" min="0" max="10" value="5" class="range-slider">-->
                    <input type="range" min="0" max="10" class="range-slider"
                           value={{preference}}
                           name="{{food_id}}">
                </div>
            {{/나이트라이프}}
        </div>
    </section>

    <section id="Worlds" class="wrapper style1 special">
        <h2> 설문에 참여해 주셔서 감사합니다.</h2>
        <h4> 마지막으로 스스로 생각하는 요리 수준에 대해 선택해주세요 </h4>

        {{#요리수준}}
        <input type="radio" id="level1" name="{{food_id}}" value="1">
        <label for="level1"> 연습생 </label>
        <input type="radio" id="level2" name="{{food_id}}" value="2">
        <label for="level2"> 초급 </label>
        <input type="radio" id="level3" name="{{food_id}}" value="3">
        <label for="level3"> 중급 </label>
        <input type="radio" id="level4" name="{{food_id}}" value="4">
        <label for="level4"> 고급 </label>
        {{/요리수준}}
    </section>

    <section id="Night" class="wrapper">
        <div class="inner flex-randomsurvey flex-3">
            <button class="submit-button" type="submit">저장</button>
        </div>
    </section>
</form>

{{>layouts/footer}}
{{>layouts/scripts}}